# DATABASE_URL: Normal çalışma için (Port: 6543)
DATABASE_URL="postgresql://kullanici_adi:sifre@sunucu_adresi:6543/postgres?pgbouncer=true&sslmode=disable"

# DIRECT_URL: Tablo oluşturma işlemleri için (Port: 6543 - Pooler üzerinden)
DIRECT_URL="postgresql://kullanici_adi:sifre@sunucu_adresi:6543/postgres?sslmode=disable"

# Server Port
PORT=4000

# Iyzico Configuration
IYZICO_API_KEY=sandbox-your-api-key
IYZICO_SECRET_KEY=sandbox-your-secret-key
IYZICO_BASE_URL=https://sandbox-api.iyzipay.com
IYZICO_CALLBACK_URL=http://localhost:4000/api/v1/subscriptions/callback

# Application URLs
BACKEND_URL=http://localhost:4000
FRONTEND_URL=http://localhost:3000

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=senin_cloud_adin
CLOUDINARY_API_KEY=senin_api_anahtarin
CLOUDINARY_API_SECRET=senin_gizli_api_sifren

# Güvenlik 
JWT_SECRET=ornek_olarak_uzun_ve_karmaşik_bir_metin_yazilir
JWT_EXPIRES_IN=7d